
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#header {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.class1 {
  background-color: black;
  color: #dddddd;
}
.class2 {
  background-color: white;
  color: #555555;
}
img {
  height: 60px;
  width: 40px;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
  border-right: 1px #000 solid;
  border-left: 1px #000 solid;
}
.column-1 {
  width: 25%;
}
.column-2 {
  width: 50%;
}
.column-3 {
  width: 75%;
}
.column-4 {
  width: 100%;
}
pre {
  text-wrap: wrap;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.some .selector div {
  color-2: #008000;
  padding-2: 3;
  color-3: #008000;
  padding-3: 3;
  margin: 2 2 2 2;
}
.big-block {
  -webkit-box-shadow: 2px 5px 1px #ffeedd;
  -moz-box-shadow: 2px 5px 1px #ffeedd;
  box-shadow: 2px 5px 1px #ffeedd;
}
.caller {
  width: 100%;
  height: 200px;
}
.nocaller {
  width: 50%;
  height: 100px;
}
body {
  background-color: black;
  color: #999999;
}
div {
  width: 10px;
  width: 20px;
}
